volumes:
  pg_data_production:
  static_volume:

services:
  db:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data_production:/var/lib/postgresql/data
  backend:
    image: 0legrogovenko/kittygram_backend
    env_file: .env
    depends_on:
      - db
    volumes:
      - static_volume:/backend_static
  frontend:
    image: 0legrogovenko/kittygram_frontend
    env_file: .env
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static_volume:/frontend_static
  gateway:
    image: 0legrogovenko/kittygram_gateway
    env_file: .env
    depends_on:
      - backend
    volumes:
      - static_volume:/staticfiles/
    ports:
      - 9000:80